<%- include('./includes/head.ejs') %>
</head>
<body>
  <%- include('./includes/navigation.ejs') %>
  

    <h1>Server Error</h1>
  
<%- include('./includes/footer.ejs') %>
<%- include('./includes/end.ejs') %>

