<div class="bg-dark text-white">
    <div class="row">


      <div class="col-sm-3 ">
        <div class="card-body card-body-cascade">
          <div class="z-depth-1-half my-map-container" style="height: 200px;">
            <iframe src="https://maps.google.com/maps?q=national%20institute%20of%20technology%20%2C%20silchar%20%2C%20assam&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
              frameborder="0px" style="border:0px" allowfullscreen=>
            </iframe>
          </div>
        </div>
      </div>


      <div class="col-sm-5 d-flex flex-column align-items-start justify-content-center">
        <h6>
          Address:
        </h6>
        <p>
          National Institute of Technology Silchar<br>
          Cachar District, Pincode 781009<br>
          Assam
        </p>
        <h6>
          Contact Number:
        </h6>
        <h6>
          Email:
        </h6>
      </div>
      

      <div class="col-sm-4 d-flex align-items-end justify-content-end">
        <div class="m-4">
          <h6>
            Connect With Us
          </h6>
          <!--Facebook-->
          <button><i class="fab fa-facebook-f"></i></button>
          <!--Twitter-->
          <button><i class="fab fa-twitter"></i></button>
          <!--Google +-->
          <button><i class="fab fa-google-plus-g"></i></button>
          <!--Linkedin-->
          <button><i class="fab fa-linkedin-in"></i></button>
        </div>
      </div>

    </div>
    
</div>