<%- include('./includes/head.ejs') %>
</head>
<body>
  <%- include('./includes/navigation.ejs') %>
  
  

  <div class="container-fluid ">
    <div id="demo" class="carousel slide my-3" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
    
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/1.jpg" class="img-fluid" alt="guest-house-1" width="80px" height="20px">
        </div>
        <div class="carousel-item">
          <img src="/images/5.jpg" class="img-fluid" alt="guest-house-2" width="80px" height="20px">
        </div>
        <div class="carousel-item">
          <img src="/images/3.jpg" class="img-fluid" alt="guest-house-3" width="80px" height="20px">
        </div>
      </div>
    
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>


    <div class="row">
      <div class="col-sm-6 ">
        <h2>
          About the Guest House
        </h2>
        <h5>
          SWAGATAM....
        </h5>
        <h6>
          NIT SILCHAR GUEST HOUSE WARMLY WELCOMES YOU TO WALK INTO PARADISE...
        </h6>
        <p>
          The Institute Guest House, flanked by green lawns and colourful horticulture remains a pleasant haven for the Institute Guests, 
          whether from academia or alumni or parents of the students. The state-of-the-art Guest House with all modern infrastructures is one of its kind in the North East.
          Some renowned personalities of the Nation in the likes of Former President of India and Bharat Ratna recipient Late Shri APJ Abdul Kalam and Hon'ble Minister of Railways,
          Shri Suresh Prabhakar Prabhu are eminent guests who stayed in the Guest House during their visit to this Valley.
        </p>
      </div>
      <div class="col-sm-2 ">
        <div class="card bg-light text-dark p-1">
          <h6 class="card-title">Room Features</h6>
          <ul>
            <li>Free High-speed Wi-Fi Internet</li>
            <li>Spacious soundproof rooms</li>
            <li>Attached Wash Room</li>
            <li>Internal phone facility</li>
            <li>TV</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card bg-light text-dark">
          <h6 class="card-title">
            Guest House Facilties
          </h6>
        </div>
      </div>
      <div class="col-sm-2 ">
        <div class="card bg-light text-dark">
          <h6 class="card-title">
            Other links
          </h6>
        </div>
      </div>


    </div>
  </div>


<%- include('./includes/footer.ejs') %>
<%- include('./includes/end.ejs') %>





  