<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/navigation.ejs') %>


    <div class="row d-flex justify-content-center p-3">
        <div class="card bg-light" style="width:250px">
            <img class="card-img-top" src="/images/brown-man-icon.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title text-center">Prof Goswami</h4>
              <p class="card-text ">Professor-in-charge<br>
                <strong>Email:</strong> tgh@hijli.iitkgp.ac.in<br>
                <strong>Phone:</strong>  03222-282834
              </p>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-around p-3">
        <div class="card bg-light" style="width:250px">
            <img class="card-img-top" src="/images/brown-man-icon.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title text-center">Prof Goswami</h4>
              <p class="card-text ">Caretaker<br>
                <strong>Email:</strong> tgh@hijli.iitkgp.ac.in<br>
                <strong>Phone:</strong>  03222-282834
              </p>
            </div>
        </div>
        <div class="card bg-light" style="width:250px">
            <img class="card-img-top" src="/images/brown-man-icon.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title text-center">Prof Goswami</h4>
              <p class="card-text ">Junior Executive<br>
                <strong>Email:</strong> tgh@hijli.iitkgp.ac.in<br>
                <strong>Phone:</strong>  03222-282834
              </p>
            </div>
        </div>
        <div class="card bg-light" style="width:250px">
            <img class="card-img-top" src="/images/brown-man-icon.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title text-center">Prof Goswami</h4>
              <p class="card-text ">Supervisor<br>
                <strong>Email:</strong> tgh@hijli.iitkgp.ac.in<br>
                <strong>Phone:</strong>  03222-282834
              </p>
            </div>
        </div>
    </div>

    
    
<%- include('./includes/footer.ejs') %>
<%- include('./includes/end.ejs') %>

    
    