<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/navigation.ejs') %>

    <h1>Portal</h1>

<%- include('./includes/footer.ejs') %>
<%- include('./includes/end.ejs') %>
    
        
        